{% extends 'base.html.twig' %}
{% block title %}LS Paradise Roleplay
{% endblock %}
{% block meta %}
	<meta name="description" content="[FREE-ACCESS] Economie réel double job Faction/Gang Véhicule et tenus modées proprietés">
	<meta name="Content-Language" content="fr">
	<meta name="google-site-verification" content="POP8N8-CyN3-qyrxGfZCkB36KGQwtZ_wZKr08ZXwdco"/>
	<meta name="Geography" content="France">
	<meta name="generator" content="ls-paradise">
	<meta name="Rating" content="general">


{% endblock %}


{% block body %}
	<div id="root"></div>
{% endblock %}
