*,
::after,
::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

/**Fonts**/
@font-face {
    font-family: "AzonixRegular";
    src: url("../fonts/Azonix/Azonix.otf") format("opentype"),
        url("../fonts/Azonix/Azonix.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;


}



@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;


}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;


}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;


}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;


}

body {

    background-color: lightgray;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;


}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --main-color: rgba(22, 28, 39, 1);
    --border-card: #ea0e4b;
    --footer-color: #1C2331;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: none
}

a:not([href]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

progress {
    vertical-align: baseline
}

.success {
    color: #00c851 !important
}

.text-indigo {
    color: #3f51b5 !important;
}

.blue-text {
    color: #2196f3 !important;
}

.cyan-text {
    color: #00bcd4 !important;
}