#join-section {
    background-image: url("../../images/city3.jpg");
    background-size: cover;
    padding-top: 3rem;
    height: 100%
}

#title-join {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: "AzonixRegular";
    font-size: 1.75rem;
    line-height: 1.2;
}

#row-join {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

}

.col-join {
    flex: 0 0 34%;
    max-width: 34%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1rem;
    align-items: center;

}



@media (max-width:992px) {
    #row-join {
        flex-direction: column;
        justify-content: center;

    }

    .col-join {
        max-width: 80%;
        align-self: center;
    }
}

@media (max-width:760px) {
    .col-join-picture {
        max-width: 100%;
    }
}