#join-section {
    background-image: url("../../images/city3.jpg");
    background-size: cover;
    padding-top: 3.5rem;
    height: 100%
}

#title-join {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
    font-family: "AzonixRegular";
    font-size: 1.75rem;
    line-height: 1.2;
}

#row-join {
    display: flex;

}

.col-join {
    flex: 0 0 34%;
    max-width: 34%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}